@import "tailwindcss";

.color{
    background:#f3a933 !important;
}
.color2{
    background: #4286b9 !important ;
}
.txtcolor2{
    color:#f3a933 !important;
}

.txtcolor{
    color: #4286b9 !important;
}

/* ::selection{
    background:#f3a933;
} */
.swiper-pagination-bullet{
    background: none !important;
       /* background:#4286b9 !important; */
       /* opacity: 0.6; */
}
/* .swiper-pagination-bullet-active {
  background: #f59e0b !important; 
  opacity: 1;
} */

body {
  font-family: 'Poppins', sans-serif;
}